<% page_data(title: "Programme choices used by your school previously",
             error: @wizard.current_step.errors.present?,
             backlink_href: @wizard.previous_step_path) %>

<p class="govuk-body">You used these programme choices the last time you registered an ECT.</p>

<% provider_led_last_time = @decorated_school.provider_led_training_programme_chosen? %>
<% display_lp = @decorated_school.latest_registration_choices&.lead_provider || @decorated_school.last_chosen_lead_provider %>
<% year = @ect.contract_start_date&.year %>

<% current_year_has_lp_dp =
     display_lp.present? &&
     @decorated_school.has_partnership_with?(
       lead_provider: display_lp,
       contract_period: year
     ) %>

<%= render "previous_choices_summary",
           choices: @decorated_school.latest_registration_choices,
           provider_led: provider_led_last_time,
           last_chosen_training_programme: @decorated_school.last_chosen_training_programme,
           reuse_preview: @wizard.current_step.reusable_partnership_preview %>

<% if provider_led_last_time && display_lp.present? && !current_year_has_lp_dp %>
  <%= render "reuse_inset_or_note",
             reuse_preview: @wizard.current_step.reusable_partnership_preview,
             lead_provider: display_lp %>
<% end %>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_radio_buttons_fieldset :use_previous_ect_choices,
                                     legend: { text: "Do you want to use the same choices for #{@ect.full_name}?" },
                                     inline: true do %>
    <%= f.govuk_radio_button :use_previous_ect_choices,
                             :true,
                             label: { text: "Yes" },
                             hint: (@wizard.current_step.reusable_partnership_preview.present? ? nil : { text: "You can’t reuse for this year. You’ll choose a lead provider next." }),
                             link_errors: true %>
    <%= f.govuk_radio_button :use_previous_ect_choices, :false, label: { text: "No" } %>
  <% end %>

  <%= render "roles_explainer" %>
  <%= f.govuk_submit "Continue" %>
<% end %>
