<% page_data(title: "Check your answers before submitting", backlink_href: @wizard.previous_step_path) %>

<h2 class="govuk-heading-m">Teacher details</h2>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: 'Name')
    row.with_value(text: @ect.full_name)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_review_ect_details_path,
      visually_hidden_text: 'name')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Teacher Reference Number (TRN)')
    row.with_value(text: @ect.trn)
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Email address')
    row.with_value(text: @ect.email)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_email_address_path,
      visually_hidden_text: 'email address')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'School start date')
    row.with_value(text: @ect.start_date)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_start_date_path,
      visually_hidden_text: 'school start date')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Working pattern')
    row.with_value(text: @ect.formatted_working_pattern)
    row.with_action(text: 'Change',
                    href: schools_register_ect_wizard_change_working_pattern_path,
                    visually_hidden_text: 'working pattern')
  end
end %>

<h2 class="govuk-heading-m">Programme details</h2>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: 'Appropriate body')
    row.with_value(text: @ect.appropriate_body_name)
    unless @ect.use_previous_ect_choices
      row.with_action(text: 'Change',
                      href: change_appropriate_body_path(@school),
                      visually_hidden_text: 'appropriate body')
    end
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Training programme')
    row.with_value(text: training_programme_name(@ect.training_programme))
    unless @ect.use_previous_ect_choices
      row.with_action(text: 'Change',
                      href: schools_register_ect_wizard_change_training_programme_path,
                      visually_hidden_text: 'training programme')
    end
  end

  if @ect.provider_led?
    summary_list.with_row do |row|
      row.with_key(text: 'Lead provider')
      row.with_value(text: @ect.lead_provider_name)
      unless @ect.use_previous_ect_choices
        row.with_action(text: 'Change',
                        href: schools_register_ect_wizard_change_lead_provider_path,
                        visually_hidden_text: 'lead provider')
      end
    end
    if @ect.use_previous_ect_choices && @ect.lead_provider_has_confirmed_partnership_for_contract_period?(@school)
      summary_list.with_row do |row|
        row.with_key(text: 'Delivery partner')
        row.with_value(text: @ect.delivery_partner_name)
      end
    end
  end
end %>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_submit "Confirm details" %>
<% end %>
